<div class="container-content">
  <header>
    <app-menu-bar></app-menu-bar>
    <hr>
  </header>

  <div class="content-notice">
    <div class="content-cover">
      <img src="{{ photoCover }}" alt="">
    </div>
    <div class="content-subtitle">
      <p>{{ contentSubtitle }}</p>
    </div>
    <div class="content-title">
      <h1>{{ contentTitle}}</h1>
    </div>
    <div class="content-description">
      <p>
        {{ contentDescription }}
      </p>
    </div>
  </div>

  <footer>
    <p>Desenvolvido por João Vasconcelos - 2023</p>
  </footer>
</div>
