<div class="container-home">
  <header>
    <app-menu-bar></app-menu-bar>
    <app-menu-title></app-menu-title>
  </header>

  <div class="container-articles">
    <div class="articles-main">
      <app-big-card></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card></app-small-card>
      <hr>
      <app-small-card></app-small-card>
      <hr>
      <app-small-card></app-small-card>
    </div>
  </div>

  <footer>
    <p>Desenvolvido por João Vasconcelos - 2023</p>
  </footer>

</div>

