<div class="container-home">
  <header>
    <app-menu-bar></app-menu-bar>
    <app-menu-title></app-menu-title>
  </header>

  <div class="container-articles">
    <div class="articles-main">
      <app-big-card
        id="1"
        photoCover="https://uoledtech.com.br/hubfs/blog.jpg"
        cardSubtitle="26 de setembro de 2023"
        cardTitle="Novo Blog JV é um sucesso"
        cardDescription="Com menos de 30 dias, o Blog JV já está no Top 10 de mais acessados do Brasil!"
      ></app-big-card>
    </div>
    <div class="articles-others">
      <app-small-card
        id="2"
        photoCover="https://blog.invgate.com/hs-fs/hubfs/steps-to-develo-an-itam-strategy.jpg?width=1920&height=981&name=steps-to-develo-an-itam-strategy.jpg"
        cardSubtitle="26 de setembro de 2023"
        cardTitle="7 Steps to Develop an Effective IT Asset Management Strategy"></app-small-card>
      <hr>
      <app-small-card
        id="3"
        photoCover="https://docs.symphonysummitai.com/download/attachments/99627117/image1.png?version=1&modificationDate=1592395518475&api=v2"
        cardSubtitle="26 de setembro de 2023"
        cardTitle="What is SummitAI Asset Management?"></app-small-card>
      <hr>
      <app-small-card
        id="4"
        photoCover="https://www.adviacent.com/assets/images/photos/features/asset-management-0.png"
        cardSubtitle="26 de setembro de 2023"
        cardTitle="Asset Management with Helpdesk | Adviacent"></app-small-card>
    </div>
  </div>

  <footer>
    <p>Desenvolvido por João Vasconcelos - 2023</p>
  </footer>

</div>

